@font-face {
  font-family: 'Open Sans';
  src:  url('./assets/font/OpenSans-Regular.ttf') format('truetype'),
  url('./assets/font/OpenSans-Bold.ttf') format('truetype');
}

body {
  font-family: 'Open Sans', Fallback, sans-serif;
  margin: 0;
  padding: 0;
}
